#specialist{
    .special_info{
        text-align: center;
        
        p{
            font-size: 15px;
            font-weight: 300;
        }
    }
    .specialist_inner-info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        margin-top: 50px;
        .specialist_card{
            border-radius: 10px;
            box-shadow: 0 1.5rem 1.5rem rgba($color: #000000, $alpha: 0.1);
            position: relative;
            transition: all 400ms ease;

            &:hover{
                box-shadow: none;

                .specialist_img::before{
                    left: 0;
                    border-radius: 1rem;
                }
                .specialist_social,.specialist_whatsapp{
                    opacity: 1;
                    visibility: visible;
                }
                
            }
            .specialist_img{
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                height: 20rem;

                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    background: linear-gradient(135deg,rgba($primary-color,0.8),rgba($primary-color-variant,0.8));
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 50%;
                    transition: all ease 0.4s;
                }

                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .specialist_details{
                margin: 8px 0;
                text-align: center;
            }
            .specialist_social{
                position: absolute;
                top: 10%;
                right: 8%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                opacity: 0;
                visibility: hidden;
                transition: all ease 0.2s;
    
                i{
                    background-color: $white-color;
                    color: $primary-color;
                    padding: 8px;
                    border-radius: 50%;
                    transition: all ease 0.4s;
    
                    &:hover{
                        background-color: $primary-color;
                        color: $white-color;
    
                    }
                }
            }
            .specialist_whatsapp{
                background-color: $sucess-color;
                color: $white-color;
                position: absolute;
                left: 50%;
                bottom: 30%;
                padding: 10px;
                border-radius: 50%;
                transform: translateX(-50%);
                opacity: 0;
                visibility: hidden;
                transition: all ease 0.4s;
            }
        }
       
    }
}
@media (max-width:1024px){
    #specialist{
        .specialist_inner-info{
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media (max-width:600px){
    #specialist{
        .specialist_inner-info{
            grid-template-columns: 1fr;
        }
    }
}