@import url("https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(12, 3, 27, 0.7);
  background: rgba(76, 201, 240, 0.1);
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 82%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

section {
  margin-top: 80px;
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 12px;
  margin: 0;
}

.btn-primary {
  background-color: #480ca8;
  display: block;
  color: #f7f7f7;
  border: 0;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 20px;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}
nav .nav-bar {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #f7f7f7;
  height: 70px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
nav .nav-bar .logo {
  color: #f7f7f7;
  padding-left: 40px;
  font-weight: 700;
  font-size: 18px;
}
nav .nav-bar #open_btn, nav .nav-bar #close_btn {
  display: none;
  margin-right: 30px;
  font-size: 18px;
}
nav .nav-bar #checkbtn {
  display: none;
}
nav .nav-bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-right: 30px;
}
nav .nav-bar ul li {
  padding: 10px 20px;
}
nav .nav-bar ul li a {
  padding: 10px 15px;
  color: #f7f7f7;
}
nav .nav-bar ul li .btn {
  background-color: #f72585;
  color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  nav .nav-bar #open_btn {
    display: block;
  }
  nav .nav-bar ul {
    position: absolute;
    top: 100%;
    right: 0;
    height: auto;
    text-align: center;
    display: none;
    padding: 0;
  }
  nav .nav-bar li {
    background-color: #4cc9f0;
  }
  nav .nav-bar li a.btn {
    border-radius: none;
    background-color: transparent;
  }
  nav .nav-bar #checkbtn:checked ~ #nav-item {
    display: block;
  }
  nav .nav-bar #checkbtn:checked ~ label #open_btn {
    display: none;
  }
  nav .nav-bar #checkbtn:checked ~ label #close_btn {
    display: block;
  }
}
header {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #f7f7f7;
  height: 100%;
  padding-bottom: 100px;
}
header .header_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
}
header .header_content h1 {
  font-size: 45px;
  line-height: 1.1;
  letter-spacing: 1px;
}
header .header_content p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  margin: 30px 0;
}
header .header_content .btn {
  background-color: #f72585;
  color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 8px;
}
header .header_img img {
  width: 100%;
}

@media (max-width: 1024px) {
  header .header_content h1 {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  header {
    height: 100%;
  }
  header .header_info {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
#services .service_info {
  text-align: center;
}
#services .service_info h1 {
  margin: 0;
}
#services .service_info p {
  font-size: 15px;
  font-weight: 300;
}
#services .service_details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}
#services .service_details .service_card {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  transition: all 400ms ease;
}
#services .service_details .service_card:hover {
  margin-top: -15px;
}
#services .service_details .service_card i {
  font-size: 18px;
}

@media (max-width: 1024px) {
  #services .service_details {
    gap: 12px;
    grid-template-columns: 1fr 1fr;
  }
  #services .service_details .service_card {
    gap: 5px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  #services .service_details {
    grid-template-columns: 1fr;
  }
}
#specialist .special_info {
  text-align: center;
}
#specialist .special_info p {
  font-size: 15px;
  font-weight: 300;
}
#specialist .specialist_inner-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}
#specialist .specialist_inner-info .specialist_card {
  border-radius: 10px;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 400ms ease;
}
#specialist .specialist_inner-info .specialist_card:hover {
  box-shadow: none;
}
#specialist .specialist_inner-info .specialist_card:hover .specialist_img::before {
  left: 0;
  border-radius: 1rem;
}
#specialist .specialist_inner-info .specialist_card:hover .specialist_social, #specialist .specialist_inner-info .specialist_card:hover .specialist_whatsapp {
  opacity: 1;
  visibility: visible;
}
#specialist .specialist_inner-info .specialist_card .specialist_img {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 20rem;
}
#specialist .specialist_inner-info .specialist_card .specialist_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(135deg, rgba(72, 12, 168, 0.8), rgba(76, 201, 240, 0.8));
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  transition: all ease 0.4s;
}
#specialist .specialist_inner-info .specialist_card .specialist_img img {
  width: 100%;
  height: 100%;
}
#specialist .specialist_inner-info .specialist_card .specialist_details {
  margin: 8px 0;
  text-align: center;
}
#specialist .specialist_inner-info .specialist_card .specialist_social {
  position: absolute;
  top: 10%;
  right: 8%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.2s;
}
#specialist .specialist_inner-info .specialist_card .specialist_social i {
  background-color: #f7f7f7;
  color: #480ca8;
  padding: 8px;
  border-radius: 50%;
  transition: all ease 0.4s;
}
#specialist .specialist_inner-info .specialist_card .specialist_social i:hover {
  background-color: #480ca8;
  color: #f7f7f7;
}
#specialist .specialist_inner-info .specialist_card .specialist_whatsapp {
  background-color: #54eb72;
  color: #f7f7f7;
  position: absolute;
  left: 50%;
  bottom: 30%;
  padding: 10px;
  border-radius: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
}

@media (max-width: 1024px) {
  #specialist .specialist_inner-info {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  #specialist .specialist_inner-info {
    grid-template-columns: 1fr;
  }
}
#testimonial.swiper {
  width: 82%;
}
#testimonial .testimonials_info {
  text-align: center;
  margin-bottom: 50px;
}
#testimonial .testimonial_details {
  margin-bottom: 50px;
}
#testimonial .testimonial_details .patient_info {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #f7f7f7;
  padding: 20px 30px;
  border-radius: 10px;
}
#testimonial .testimonial_details .patient_info p {
  margin-bottom: 10px;
}
#testimonial .testimonial_details .patient_info .avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}
#testimonial .testimonial_details .patient_info .avatar .patient_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.appointment_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.appointment_content .appointment_left-content p {
  margin-bottom: 20px;
}
.appointment_content .appointment_left-content .appointment_detail {
  display: flex;
  gap: 20px;
  text-align: justify;
}
.appointment_content .appointment_left-content .appointment_detail .appointment_icon i {
  background-color: #f72585;
  padding: 10px;
  border-radius: 50%;
  color: #f7f7f7;
  font-size: 15px;
}
.appointment_content .appointment_left-content .appointment_detail .appointment_info h2 {
  font-size: 18px;
}
.appointment_content .appointment_left-content .appointment_detail .appointment_info p {
  line-height: 1.5;
  font-size: 13px;
}
.appointment_content .appointment_form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.appointment_content .appointment_form .form_group label {
  font-size: 15px;
  font-weight: 600;
}
.appointment_content .appointment_form .form_group input, .appointment_content .appointment_form .form_group textarea, .appointment_content .appointment_form .form_group select {
  background-color: #f7f7f7 !important;
  padding: 8px 10px;
  display: block;
  border: 0;
  outline: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .appointment_content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .appointment_left-content .info h2, .appointment_left-content .info p {
    text-align: center;
  }
}
footer {
  background-color: rgb(5, 5, 36);
  color: #f7f7f7;
  padding: 30px 20px;
}
footer .footer_details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
footer .footer_details .footer_info h5 {
  margin-bottom: 5px;
}
footer .footer_details .footer_info p {
  margin-bottom: 5px;
}
footer .footer_details .footer_info .personal-detail {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
footer .footer_details .footer_info .icons {
  display: flex;
  gap: 10px;
}

@media (max-width: 1024px) {
  footer .footer_details {
    gap: 30px;
  }
}
@media (max-width: 600px) {
  footer .footer_details {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */